@page "/userlist"

@inherits UserListProcess


@using System.Net.Http.Json
@using BlazorRCM.Shared.DTOs



<SpinLoader IsLoading="@_elementIsLoading">
    <LoadingTemplate>
        <div class="col-12" style="vertical-align:middle; margin-top:100px">
            <Chase Center="true" Size="40px" Color="#F44336"></Chase>
        </div>
    </LoadingTemplate>
    <ContentTemplate>
        <MudDataGrid MultiSelection="true" Items="@UserList" Sortable="true" Filterable="true" QuickFilter="@_quickFilter">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Kullanıcılar</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                <Column T="UserDTO" Field="UId" Title="ID" />
                <Column T="UserDTO" Field="FirstName" />
                <Column T="UserDTO" Field="LastName" />
                <Column T="UserDTO" Field="UserName" />
                <Column T="UserDTO" Field="Phone" />
            </Columns>
            <PagerContent>
                <MudDataGridPager T="UserDTO" />
            </PagerContent>
        </MudDataGrid>
    </ContentTemplate>
</SpinLoader>



@*<div id="@_processing">
    @if (_processing)
    {

    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
    <br/>
    <br/>
    <MudText Class="ms-2">Processing</MudText>
    }

    <MudDataGrid Class="@visibility" MultiSelection="true" Items="@UserList" Sortable="true" Filterable="true" QuickFilter="@_quickFilter">
    <ToolBarContent>
    <MudText Typo="Typo.h6">Kullanıcılar</MudText>
    <MudSpacer />
    <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
    <Column T="UserDTO" Field="UId" Title="ID" />
    <Column T="UserDTO" Field="FirstName" />
    <Column T="UserDTO" Field="LastName" />
    <Column T="UserDTO" Field="UserName" />
    <Column T="UserDTO" Field="Phone" />
    </Columns>
    <PagerContent>
    <MudDataGridPager T="UserDTO" />
    </PagerContent>
    </MudDataGrid>
    </div>*@


@code {

    private string? _searchString;

    private Func<UserDTO, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.FirstName!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.LastName!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.UserName!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Phone!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;


        if ($"{x.UId}".Contains(_searchString))
            return true;

        return false;
    };

}