@page "/hizlisatis"
@*@page "/"*@


@*<PageTitle>Index</PageTitle>

<h1>Hello</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@

<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 col-md-7 connectedSortable">
        <div class="card">
            <div class="card-header bg-gradient-info">
                <h3 class="card-title">
                    <i class="fas fa-chart-pie"></i>
                    HIZLI SATIŞ
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" style="color:white; font-weight:bold" data-toggle="tab">Favori Listem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:white; font-weight:bold" data-toggle="tab">Dürüm/Servis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:white; font-weight:bold" data-toggle="tab">Menüler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:white; font-weight:bold" data-toggle="tab">İçecek</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:white; font-weight:bold" data-toggle="tab">Diğerleri</a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body" style="background-color:white">
                @*<p style="color:orangered;font-size:medium">Tavuk Ürünleri:</p>*@
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                <a class="btn btn-app bg-success" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tavuk Dürüm</div>
                </a>
                @*<p style="color:orangered;font-size:medium">Et Ürünleri:</p>*@
                @*<br />*@
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <a class="btn btn-app bg-danger" style="box-sizing:content-box; padding-top:10px;padding-bottom:0px;padding-left:0px; padding-right:0px; margin-bottom:5px">
                    @*<span class="badge bg-info" style="font-size:inherit; font-weight:bold">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Et Dürüm</div>
                </a>
                <br />
                @*<p style="color:orangered;font-size:medium">İçecek ve Diğer Ürünler:</p>*@

                <a class="btn btn-app bg-secondary" style="box-sizing: content-box; padding-top: 10px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">İlave Yarım Lavaş</div>
                </a>
                <a class="btn btn-app bg-warning" style="box-sizing: content-box; padding-top: 15px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Vejetaryen</div>
                </a>
                <a class="btn btn-app bg-info" style="box-sizing: content-box; padding-top: 15px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">K.Su</div>
                </a>
                <a class="btn btn-app bg-yellow" style="box-sizing: content-box; padding-top: 15px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Patates</div>
                </a>
                <a class="btn btn-app bg-gradient-lime" style="box-sizing: content-box; padding-top: 15px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Tatlı</div>
                </a>
                <a class="btn btn-app bg-navy" style="box-sizing: content-box; padding-top: 15px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Pepsi</div>
                </a>
                <a class="btn btn-app bg-orange" style="box-sizing: content-box; padding-top: 15px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">Lipton</div>
                </a>
                <a class="btn btn-app bg-blue" style="box-sizing: content-box; padding-top: 15px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px">
                    @*<span class="badge bg-info" style="font-size:inherit">891</span>*@
                    <div style="height:50px; width:90px; font-size:large; font-weight:bold">B.Ayran</div>
                </a>

            </div><!-- /.card-body -->
        </div>
    </section>
    <section class="col-lg-1 col-md-1 connectedSortable">
        <br />
        <br />
        <div class="card bg-info">
            <a class="btn" style="font-weight: bold; border-block-color: white">Miktar</a>
            <a class="btn" style="font-weight: bold; border-block-color: white"> + </a>
            <a class="btn" style="font-weight: bold; border-block-color: white"> - </a>
            <a class="btn" style="font-weight: bold; border-block-color: white"> 1 </a>
            <a class="btn" style="font-weight: bold; border-block-color: white"> 2 </a>
            <a class="btn" style="font-weight: bold; border-block-color: white"> 3 </a>
            <a class="btn" style="font-weight: bold; border-block-color: white"> 4 </a>
            <a class="btn" style="font-weight: bold; border-block-color: white"> 5 </a>
        </div>
        <div class="card">
            <a class="btn" style="background-color:coral; box-sizing:content-box; font-weight:bolder; color:white; font-size:x-large">Ürün Not</a>
        </div>
    </section>
    <section class="col-lg-4 col-md-4 connectedSortable">
        <div class="card bg-gradient-info">
            <div class="card-header border-0">
                <h3 class="card-title">
                    <i class="fas fa-th mr-1"></i>
                    Adisyon İçerik
                </h3>
            </div>
            <div class="card-body" style="padding-top:0px">
                <div class="table-responsive">
                    <table id="tblBill" class="display table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>Ürün</th>
                                <th>Miktar</th>
                                <th>Fiyat</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr style="background-color:white; height:30px">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            @*@foreach (UserListForDataTableVm item in userList)
                                {
                                    <tr adminId="@item.UId">
                                        <td>
                                            @item.UId
                                        </td>
                                        <td>
                                            <span id="spnFullName">@item.FullName</span>
                                        </td>
                                        <td>
                                            <span id="spnEmail">@item.Email</span>
                                        </td>
                                        <td>
                                            @{
                                                if (item.IsActive)
                                                {
                                                    <span class="badge bg-success" isActive="true" value="1">Aktif</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-danger" isActive="false" value="0">Pasif</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.CreatedTime.HasValue)
                                                {
                                                    <span id="crtdate">@item.CreatedTime.Value.ToString("d")</span>
                                                }
                                                else
                                                {
                                                    <span id="crtdate"> - </span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.ModifiedTime.HasValue)
                                                {
                                                    <span id="mdfdate">@item.ModifiedTime.Value.ToString("d")</span>
                                                }
                                                else
                                                {
                                                    <span id="mdfdate"> - </span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a href="#myedit">
                                                <img id="imgEdit" class="imgedit" title="Değiştir" src="~/MyImages/DataTable/Edit.ico" style="width:25px;" adminId="@item.UId" />
                                            </a>
                                            <span>&nbsp;&nbsp;</span>
                                            <a href="#mydelete">
                                                <img id="imgDelete" class="imgdelete" title="Sil" src="~/MyImages/DataTable/Delete.ico" style="width:30px;" adminId="@item.UId" />
                                            </a>
                                        </td>
                                    </tr>
                                }*@

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align:right">Tutar :&nbsp;&nbsp;</th>

                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="btn" href="#" style="color: white; border-color: white; font-weight: bold" data-toggle="tab">Yarım</a>
                    </li>
                    <li><span>&nbsp;&nbsp;&nbsp;</span></li>
                    <li class="nav-item">
                        <a class="btn" href="#" style="color: white; border-color: white; font-weight: bold " data-toggle="tab">1,5</a>
                    </li>
                    <li><span>&nbsp;&nbsp;&nbsp;</span></li>
                    <li class="nav-item">
                        <a class="btn" href="#" style="color:white; border-color:white; font-weight:bold" data-toggle="tab">Duble</a>
                    </li>
                    <li><span>&nbsp;&nbsp;&nbsp;</span></li>
                    <li class="nav-item">
                        <a class="btn" href="#" style="color: white; border-color: white; font-weight: bold" data-toggle="tab">Ürün Sil</a>
                    </li>
                    <li><span>&nbsp;&nbsp;&nbsp;</span></li>
                    <li class="nav-item">
                        <a class="btn" href="#" style="color: white; border-color: white; font-weight: bold" data-toggle="tab">Temizle</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" style="align-content:end; margin-bottom:0px; background:none">
            <a class="btn" style="background-color: coral; box-sizing: content-box; font-weight: bolder; color: white; font-size: xx-large; height: 50px">-KAYDET-</a>
        </div>
    </section>
    <!-- right col -->
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}